ul {
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
  color: #262626;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #262626;
}

img {
  display: block;
  width: 100%;
  cursor: pointer;
}

body,
html,
#root {
  background: #fafafa;
}

/* header */
#main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  background: #fff;
  border-bottom: 1px solid #dbdbdb;
  z-index: 999;
}

.logo:focus {
  outline: 0;
}

#search {
  position: relative;
  cursor: text;
}

#search input {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #262626;
  outline: 0;
  padding: 3px 10px 3px 26px;
  font-size: 16px;
}

#search input::placeholder {
  color: #8e8e8e;
  text-align: center;
  font-size: 14px;
}

#main-menu ul li {
  padding-left: 24px;
}

/* footer */
footer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-footer {
  width: 73%;
  display: flex;
  justify-content: space-between;
}

#main-footer li {
  display: inline-block;
  margin-bottom: 7px;
  margin-right: 16px;
  cursor: pointer;
}

#main-footer li span {
  color: #00376b;
  font-size: 12px;
  font-weight: 500;
}

/* dropdown */
.dropdown-menu.show {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  left: -152px !important;
  top: -11px !important;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
  z-index: 999;
}

.dropdown-menu.show.heart {
  width: 300px;
  padding: 10px;
  left: -240px !important;
  top: -10px !important;
}

.dropdown.show a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #262626;
  padding: 3px 15px;
  cursor: pointer;
}

.dropdown.show a:last-child {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 15px;
}

.dropdown.show a .icon {
  display: flex;
  margin-right: 10px;
}

.drop-item {
  position: relative;
}
.dropdown.show .bottom a:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.dropdown-menu.show .arrow {
  width: 14px;
  height: 14px;
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.0975);
  border-left: 1px solid rgba(0, 0, 0, 0.0975);
  position: absolute;
  right: 29px;
  top: -16px;
  z-index: 1;
  transform: rotate(45deg);
}

.dropdown-menu.show.heart .arrow {
  top: -17px !important;
}

/* main */
main {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  min-height: 80vh;
}

/* post-item */
.post-item {
  margin-bottom: 40px;
}

.post-item p,
.post-item span {
  font-size: 14px;
  color: #262626;
}

.post-item span {
  font-weight: 400;
}

.post-item .controls {
  display: flex;
  justify-content: space-between;
}

.post-item .controls img {
  height: 24px;
  margin-right: 15px;
}

.post-item .description,
.post-item .comment-item {
  display: flex;
  margin: 0 0 5px;
  text-align: justify;
}

.post-item .description p,
.post-item .comment-item p {
  margin-right: 5px;
}

.showComments {
  width: 95%;
}

/* sidebar home page */
.sidebar-homepage {
  width: 22%;
  position: fixed;
  top: 70px;
  right: 16%;
  z-index: 2;
}

.sidebar-homepage .avatar {
  width: 10%;
}

.avatar img {
  border-radius: 50%;
}

/* overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.overlay span {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.overlay .heart {
  left: 35%;
}

.overlay .comment {
  left: 65%;
}

.overlay .heart:before,
.overlay .comment:before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 19px;
  margin-right: 10px;
}

.overlay .heart:before {
  background-image: url("./assets/icons.png");
  background-position: -340px -333px;
  left: 35%;
}

.overlay .comment:before {
  background-image: url("./assets/icons.png");
  background-position: -382px -333px;
  left: 55%;
}

/* route-profile */
.route-profile a {
  color: #262626;
  text-decoration: none;
}

/* login page */

.logo-login {
  background-image: url("assets/icons.png");
  background-position: 0 -130px;
  height: 51px;
  width: 175px;
  margin: 30px 0;
}

.login-with-social .facebook {
  background-image: url("assets/icons.png");
  background-position: -414px -259px;
  height: 16px;
  width: 16px;
}

/* modal */
.modal {
  top: 71%;
  left: 50%;
  width: 28%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.modal-content {
  border-radius: 12px !important;
}

.modal-body {
  padding: 0;
}

.modal .item {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdbdb;
  cursor: pointer;
}

.modal .item:last-child {
  border-bottom: 0;
}
